<div class="four columns">
  <div class="column">
    <div class="circleized large"> <i class="{{ icon.class.calendar }}"></i>
    </div>
  </div>
  <div class="column">
    <div class="circleized medium"> <i class="{{ icon.class.calendar }}"></i>
    </div>
  </div>
  <div class="column">
    <div class="circleized small">
      <i class="{{ icon.class.calendar }}"></i>
    </div>
  </div>
  <div class="column">
    <div class="circleized tiny">
      <i class="{{ icon.class.calendar }}"></i>
    </div>
  </div>
</div>