{{> organisms-header-app }}
<div class="page" id="flashcard">
  
  <div class="activity-container">
    {{> organisms-sidebar }}
    <section class="activity-main">
      <header class="activity-content-header">
        <h1 class="beta">Flashcard</h1>
        <div class="next-activity">next activity</div>
        <div class="activity-instructions">
          <h2 class="epsilon">Bobby's teacher suggests you work with level B parts and words.</h2>
          {{! more detail, if needed }}
          <p class="epsilon">For the first 5 minutes check if your student knows the sight words in the level the student is learning. Then spend 5 minutes checking if your student knows words containing the onsets and rimes. Can the student segment and blend together the onset and rime in these words?</p>
        </div>

        <div class="activity-tabs tabs-under">
         {{!  <nav class="tab-links"> }}
            <a href="#" class="tab-link active" data-tab="flashcard-a">A</a>
            <a href="#" class="tab-link" data-tab="flashcard-b">B</a>
            <a href="#" class="tab-link" data-tab="flashcard-c">C</a>
            <a href="#" class="tab-link" data-tab="flashcard-d">D</a>
            <a href="#" class="tab-link" data-tab="flashcard-e">E</a>
            <a href="#" class="tab-link" data-tab="flashcard-fg">F/G</a>
            <a href="#" class="tab-link" data-tab="flashcard-hi">H/I</a>
          {{! </nav> }}
          
        </div>
      </header>
      
      {{> organisms-flashcard-content }}

      <footer class="flashcard-footer block">
        <div class="activity-yes-no">
          <h4 class="epsilon">Was your student correct?</h4>
          <a class="activity-yes circlized">yes</a>
          <a class="activity-no circleized">no</a>
        </div>
        <form action="text" class="flashcard-field">
          <input type="text"  placeholder="Use this field to send your student a word or phrase. Just type and press enter...">
        </form>
      </footer>
    

    </section> {{! /activity-main}}
      

      

  </div><!--End role=main-->
  {{> organisms-footer }}
</div>
