&lt;div class=&quot;four columns&quot;&gt;
  &lt;div class=&quot;column&quot;&gt;
    &lt;div class=&quot;circleized large&quot;&gt; &lt;i class=&quot;{{ icon.class.calendar }}&quot;&gt;&lt;/i&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;column&quot;&gt;
    &lt;div class=&quot;circleized medium&quot;&gt; &lt;i class=&quot;{{ icon.class.calendar }}&quot;&gt;&lt;/i&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;column&quot;&gt;
    &lt;div class=&quot;circleized small&quot;&gt;
      &lt;i class=&quot;{{ icon.class.calendar }}&quot;&gt;&lt;/i&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;column&quot;&gt;
    &lt;div class=&quot;circleized tiny&quot;&gt;
      &lt;i class=&quot;{{ icon.class.calendar }}&quot;&gt;&lt;/i&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;