
<p class="intro">Icon/Text as a Link</p>

<a href="{{ url }}" class="iconized"><i class="icon-home">Home</i></a>

<p class="intro">Icon/Text, no link</p>

<div class="iconized"><i class="icon-pencil">Practice</i></div>
