<!-- Begin Footer -->
<footer class="footer" role="contentinfo">

    <div class="footer-header container ">
      <h2 class="gamma footer-title">Resources</h2>
    </div>
{{!     <nav class="footer-tabs"> }}
      {{> molecules-tabs }}
{{!     </nav> }}
    <div class="footer-sub-tabs">
      <div class="tab-1-tabs">
        <div class="sub-tab-content active" id="sub-tab-1"> {{! move this to data.json }}
          <ul>
            <li>the</li>
            <li>sun</li>
            <li>did</li>
            <li>not</li>
            <li>shine</li>
            <li>it</li>
            <li>was</li>
            <li>too</li>
            <li>wet</li>
            <li>to</li>
            <li>play</li>
            <li>so</li>
            <li>we</li>
            <li>sat</li>
            <li>in</li>
            <li>the</li>
            <li>house</li>
            <li>all</li>
            <li>that</li>
            <li>cold</li>
            <li>cold</li>
            <li>wet</li>
            <li>day</li>
            <li>i</li>
            <li>sat</li>
            <li>there</li>
            <li>with</li>
            <li>sally</li>
            <li>we</li>
            <li>sat</li>
          </ul>
        </div>
        <div class="sub-tab-content" id="sub-tab-2">
          <ul>
            <li>there</li>
            <li>we</li>
            <li>two</li>
            <li>and</li>
            <li>i</li>
            <li>said</li>
            <li>how</li>
            <li>i</li>
            <li>wish</li>
            <li>we</li>
            <li>had</li>
            <li>something</li>
            <li>to</li>
            <li>do</li>
            <li>too</li>
            <li>wet</li>
            <li>to</li>
            <li>go</li>
            <li>out</li>
            <li>and</li>
            <li>to</li>
            <li>cold</li>
            <li>to</li>
            <li>play</li>
            <li>ball</li>
            <li>so</li>
            <li>we</li>
            <li>sat</li>
            <li>in</li>
            <li>the</li>
          </ul>
        </div>
        <div class="sub-tab-content" id="sub-tab-3">
          <ul>
            <li>house</li>
            <li>we</li>
            <li>did</li>
            <li>nothing</li>
            <li>at</li>
            <li>all</li>
            <li>so</li>
            <li>all</li>
            <li>we</li>
            <li>could</li>
            <li>do</li>
            <li>was</li>
            <li>to</li>
            <li>sit</li>
            <li>sit</li>
            <li>sit</li>
            <li>sit</li>
            <li>and</li>
            <li>we</li>
            <li>did</li>
            <li>not</li>
            <li>like</li>
            <li>it</li>
            <li>not</li>
            <li>one</li>
            <li>little</li>
            <li>bit</li>
            <li>and</li>
            <li>then</li>
            <li>something</li>
          </ul>
        </div>
        <div class="sub-tab-content" id="sub-tab-4">
          <ul>
            <li>went</li>
            <li>bump</li>
            <li>how</li>
            <li>that</li>
            <li>bump</li>
            <li>made</li>
            <li>us</li>
            <li>jump</li>
            <li>we</li>
            <li>looked</li>
            <li>then</li>
            <li>we</li>
            <li>saw</li>
            <li>him</li>
            <li>step</li>
            <li>in</li>
            <li>on</li>
            <li>the</li>
            <li>mat</li>
            <li>we</li>
            <li>looked</li>
            <li>and</li>
            <li>we</li>
            <li>saw</li>
            <li>him</li>
            <li>the</li>
            <li>cat</li>
            <li>in</li>
            <li>the</li>
            <li>hat</li>
          </ul>
        </div>
        <div class="sub-tab-content" id="sub-tab-5">
          <ul>
            <li>and</li>
            <li>he</li>
            <li>said</li>
            <li>to</li>
            <li>us</li>
            <li>why</li>
            <li>do</li>
            <li>you</li>
            <li>sit</li>
            <li>there</li>
            <li>like</li>
            <li>that</li>
            <li>i</li>
            <li>know</li>
            <li>it</li>
            <li>is</li>
            <li>wet</li>
            <li>and</li>
            <li>the</li>
            <li>sun</li>
            <li>is</li>
            <li>not</li>
            <li>sunny</li>
            <li>but</li>
            <li>we</li>
            <li>can</li>
            <li>have</li>
            <li>lots</li>
            <li>of</li>
            <li>good</li>
          </ul>
        </div>
        <div class="sub-tab-content" id="sub-tab-6">
          <ul>
            <li>fun</li>
            <li>that</li>
            <li>is</li>
            <li>funny</li>
            <li>i</li>
            <li>know</li>
            <li>some</li>
            <li>good</li>
            <li>games</li>
            <li>we</li>
            <li>could</li>
            <li>play</li>
            <li>said</li>
            <li>the</li>
            <li>cat</li>
            <li>i</li>
            <li>know</li>
            <li>some</li>
            <li>new</li>
            <li>tricks</li>
            <li>said</li>
            <li>the</li>
            <li>cat</li>
            <li>in</li>
            <li>the</li>
            <li>hat</li>
            <li>a</li>
            <li>lot</li>
            <li>of</li>
            <li>good</li>
          </ul>
        </div>
      </div>

      <div class="tab-2-tabs">
        <div class="sub-tab-content" id="sub-tab-7">
          <div class="onset-block">
            <h4>ONSETS</h4>
            <ul>
              <li>al</li>
              <li>bi</li>
              <li>dj</li>
              <li>sl</li>
              <li>kdj</li>
              <li>di</li>
              <li>nf</li>
              <li>si</li>
              <li>u</li>
              <li>kj</li>
              <li>lid</li>
              <li>jd</li>
              <li>ne</li>
            </ul>
          </div>

          <div class="rimes-block">
            <h4>RIMES</h4>
            <ul>
              <li>ade</li>
              <li>ide</li>
              <li>ode</li>
              <li>eed</li>
              <li>ud</li>
              <li>abe</li>
              <li>eb</li>
              <li>ieb</li>
              <li>ob</li>
              <li>ub</li>
              <li>at</li>
              <li>et</li>
              <li>it</li>
              <li>ot</li>
              <li>ut</li>
              <li>ap</li>
              <li>ep</li>
              <li>ip</li>
              <li>op</li>
              <li>up</li>
              <li>ate</li>
              <li>eet</li>
              <li>it</li>
              <li>out</li>
              <li>ut</li>
              <li>og</li>
              <li>ag</li>
              <li>eg</li>
            </ul>
          </div>
        </div>
        <div class="sub-tab-content" id="sub-tab-8">
          <div class="onset-block">
            <h4>ONSETS</h4>
            <ul>
              <li>q</li>
              <li>ww</li>
              <li>ee</li>
              <li>rr</li>
              <li>tt</li>
              <li>dd</li>
              <li>ss</li>
              <li>ff</li>
              <li>gg</li>
              <li>jj</li>
              <li>kk</li>
              <li>ll</li>
              <li>ii </li>
            </ul>
          </div>

          <div class="rimes-block">
            <h4>RIMES</h4>
            <ul>
              <li>ade</li>
              <li>ide</li>
              <li>ode</li>
              <li>eed</li>
              <li>ud</li>
              <li>abe</li>
              <li>eb</li>
              <li>ieb</li>
              <li>ob</li>
              <li>ub</li>
              <li>at</li>
              <li>et</li>
              <li>it</li>
              <li>ot</li>
              <li>ut</li>
              <li>ap</li>
              <li>ep</li>
              <li>ip</li>
              <li>op</li>
              <li>up</li>
              <li>ate</li>
              <li>eet</li>
              <li>it</li>
              <li>out</li>
              <li>ut</li>
              <li>og</li>
              <li>ag</li>
              <li>eg</li>
            </ul>
          </div>
        </div>
        <div class="sub-tab-content" id="sub-tab-9">
          <div class="onset-block">
            <h4>ONSETS</h4>
            <ul>
              <li>fr</li>
              <li>fs</li>
              <li>ft</li>
              <li>fm</li>
              <li>fn</li>
              <li>fo</li>
              <li>fi</li>
              <li>ff</li>
              <li>fl</li>
              <li>fq</li>
              <li>fz</li>
              <li>fx</li>
              <li>fp</li>
            </ul>
          </div>

          <div class="rimes-block">
            <h4>RIMES</h4>
            <ul>
              <li>ade</li>
              <li>ide</li>
              <li>ode</li>
              <li>eed</li>
              <li>ud</li>
              <li>abe</li>
              <li>eb</li>
              <li>ieb</li>
              <li>ob</li>
              <li>ub</li>
              <li>at</li>
              <li>et</li>
              <li>it</li>
              <li>ot</li>
              <li>ut</li>
              <li>ap</li>
              <li>ep</li>
              <li>ip</li>
              <li>op</li>
              <li>up</li>
              <li>ate</li>
              <li>eet</li>
              <li>it</li>
              <li>out</li>
              <li>ut</li>
              <li>og</li>
              <li>ag</li>
              <li>eg</li>
            </ul>
          </div>
        </div>
        <div class="sub-tab-content" id="sub-tab-10">
          <div class="onset-block">
            <h4>ONSETS</h4>
            <ul>
              <li>oo</li>
              <li>op</li>
              <li>ip</li>
              <li>fo</li>
              <li>of</li>
              <li>pi</li>
              <li>pa</li>
              <li>pe</li>
              <li>po</li>
              <li>pw</li>
              <li>pop</li>
              <li>pn</li>
              <li>i</li>
            </ul>
          </div>

          <div class="rimes-block">
            <h4>RIMES</h4>
            <ul>
              <li>ade</li>
              <li>ide</li>
              <li>ode</li>
              <li>eed</li>
              <li>ud</li>
              <li>abe</li>
              <li>eb</li>
              <li>ieb</li>
              <li>ob</li>
              <li>ub</li>
              <li>at</li>
              <li>et</li>
              <li>it</li>
              <li>ot</li>
              <li>ut</li>
              <li>ap</li>
              <li>ep</li>
              <li>ip</li>
              <li>op</li>
              <li>up</li>
              <li>ate</li>
              <li>eet</li>
              <li>it</li>
              <li>out</li>
              <li>ut</li>
              <li>og</li>
              <li>ag</li>
              <li>eg</li>
            </ul>
          </div>
        </div>        
      </div>
        
        

    </div> {{! /footer sub tabs container }}


	<div class="lc footer-bar"> {{! yuck  }}
		<p class="copyright">Innovations for Learning 2014</p>
	</div>
</footer>
<!-- End Footer -->

