<div id="sidebar" class="sidebar">
  <h4>Session Timer</h4>
  <time class="gamma">00:00</time>
  <div class="sidebar-end-session block">
    <i class="close-icon"><img src="../../images/temp_pngs/icon-stop.png" /><span>END SESSION</span></i>  
  </div>

  <h4>Activities</h4>
  <nav class="sidebar-nav">
    <a href="#"> <i class="icon-flashcard"><img src="../../images/temp_pngs/icon-flashcard.png" alt=""><span>FLASHCARD</span></i>
    </a>
    <a href="#"> <i class="icon-stories"><img src="../../images/temp_pngs/icon-stories.png" alt=""><span>stories</span></i>
    </a>
    <a href="#">
      <i class="icon-wordsort">
        <img src="../../images/temp_pngs/icon-wordsort.png" alt=""><span>wordsort</span></i>
    </a>
    <a href="#">
      <i class="icon-tic-tac">
        <img src="../../images/temp_pngs/icon-tic-tac.png" alt=""><span>tic tac toe</span></i>
    </a>
    <a href="#">
      <i class="icon-mystery">
        <img src="../../images/temp_pngs/icon-mystery.png" alt=""><span>mystery</span></i>
    </a>
    <a href="#">
      <i class="icon-whiteboard">
        <img src="../../images/temp_pngs/icon-whiteboard.png" alt=""><span>whiteboard</span></i>
    </a>

  </nav>

</div>