<div id="note-panel">
  <div class="note-header">Notes</div>
  <div class="note-content">
    This is where the content goes. Content goes. Content goes. This is where the content goes. My fair lady.
    <!-- Content --></div>
    
  </div>
<div id="note-tab"><img src="../../images/temp_pngs/icon-notepad.png" alt=""></div>

