<!-- Begin Footer -->
<footer class="footer" role="contentinfo">




  <div class="lc footer-bar"> {{! yuck  }}
    <span class="copyright">Innovations for Learning 2014</span>
  </div>
</footer>
<!-- End Footer -->

