&lt;a href=&quot;{{ url }}&quot;&gt;
  &lt;h1 class=&quot;logo&quot;&gt;TutorMate&lt;sup&gt;&amp;#174;&lt;/sup&gt; |&lt;span class=&quot;epsilon&quot;&gt;ONLINE TUTORING&lt;/span&gt;&lt;/h1&gt;
&lt;/a&gt;