<nav id="nav" class="nav">
	<ul class="nav-list">
		<li><a href="{{ url }}" class="iconized"><i class="icon-home">Home</i></a></li>
		<li><a href="{{ url }}" class="iconized"><i class="icon-lifebuoy">Immediate Assistance</i></a></li>
		<li><a href="{{ url }}" class="iconized"><i class="icon-logout">Hi, {{ username }}! Log Out</i></a></li>
	</ul>
</nav><!--end .nav-->
