<div class="tab-container">
	<ul class="resource-tabs">
		<li><a href="{{ url }}" class="tab-link active" data-tab="tab-1">SIGHT WORDS</a></li>
		<li><a href="{{ url }}" class="tab-link" data-tab="tab-2">ONSETS & RHYMES</a></li>
		<li><a href="{{ url }}" class="tab-link" data-tab="tab-3">TRAINING TUTORIALS</a></li>
	</ul>
</div>

<nav class="tab-submenu"> 
  <ul class="tab-submenu-list active" id="tab-1"> 
    <li><a href="{{ url }}" class="tab-submenu-link active" data-tab="sub-tab-1">SET I</a></li> 
    <li><a href="{{ url }}" class="tab-submenu-link" data-tab="sub-tab-2">SET II</a></li>
    <li><a href="{{ url }}" class="tab-submenu-link" data-tab="sub-tab-3">SET III</a></li>
    <li><a href="{{ url }}" class="tab-submenu-link" data-tab="sub-tab-4">SET IV</a></li>
    <li><a href="{{ url }}" class="tab-submenu-link" data-tab="sub-tab-5">SET V</a></li>
    <li><a href="{{ url }}" class="tab-submenu-link" data-tab="sub-tab-6">SET VI</a></li>
  </ul>

  <ul class="tab-submenu-list" id="tab-2">
    <li><a href="{{ url }}" class="tab-submenu-link active" data-tab="sub-tab-7">POINT</a></li>
    <li><a href="{{ url }}" class="tab-submenu-link" data-tab="sub-tab-8">POINT II</a></li>
    <li><a href="{{ url }}" class="tab-submenu-link" data-tab="sub-tab-9">POINT III</a></li>
    <li><a href="{{ url }}" class="tab-submenu-link" data-tab="sub-tab-10">POINT IV</a></li>
  </ul>

  <ul class="tab-submenu-list" id="tab-3">
    <li><a href="{{ url }}">MATCH I</a></li>
    <li><a href="{{ url }}">MATCH II</a></li>
    <li><a href="{{ url }}">MATCH III</a></li>
    <li><a href="{{ url }}">MATCH IV</a></li>
    <li><a href="{{ url }}">MATCH V</a></li>
    <li><a href="{{ url }}">MATCH VI</a></li>
  </ul>

</nav>

