<div class="tabs">
	<ul class="tab-list">
		<li><a href="{{ url }}" id="ftc-1">SIGHT WORDS</a></li>
		<li><a href="{{ url }}" id="ftc-2">ONSETS & RHYMES</a></li>
		<li><a href="{{ url }}" id="ftc-3">TRAINING TUTORIALS</a></li>
	</ul>

  <ul class="subnav">
        <li><a href="{{ url }}">SET I</a></li>
        <li><a href="{{ url }}">SET II</a></li>
        <li><a href="{{ url }}">SET III</a></li>
        <li><a href="{{ url }}">SET IV</a></li>
        <li><a href="{{ url }}">SET V</a></li>
        <li><a href="{{ url }}">SET VI</a></li>
      </ul>
</div>