<div class="three columns">
  <div class="block block-circle column"> 
    <div class="circleized large"><i class="{{ icon.class.calendar }}"></i></div>
    <div class="b-body">
      <h2 class="b-title-vertical">{{ title }}</h2>
      <p class="b-text">Go to the tutor calendar.</p>
    </div>
  </div>

  <div class="block block-circle column"> 
    <div class="circleized large"><i class="{{ icon.class.calendar }}"></i></div>
    <div class="b-body">
      <h2 class="b-title-vertical">{{ title }}</h2>
      <p class="b-text">Go to the tutor calendar.</p>
    </div>
  </div>

  <div class="block block-circle column"> 
    <div class="circleized large"><i class="{{ icon.class.calendar }}"></i></div>
    <div class="b-body">
      <h2 class="b-title-vertical">{{ title }}</h2>
      <p class="b-text">Go to the tutor calendar.</p>
    </div>
  </div>
</div>