<div class="three columns">
  <div class="block block-circle column"> 
    <div class="icon-link large"><i class="{{ icon.class.tutor }}"></i></div>
    <div class="b-body">
      <h2 class="b-title-vertical">{{ title }}</h2>
      <p class="b-text boxer"><a href="#connectingModal" rel="leanModal">Click here to Connect.</a></p>
    </div>
  </div>

  <div class="block block-circle column"> 
    <div class="icon-link large"><i class="{{ icon.class.calendar }}"></i></div>
    <div class="b-body">
      <h2 class="b-title-vertical">{{ title }}</h2>
      <p class="b-text">Go to the tutor calendar.</p>
    </div>
  </div>

  <div class="block block-circle column"> 
    <div class="icon-link large"><i class="{{ icon.class.pencil }}"></i></div>
    <div class="b-body">
      <h2 class="b-title-vertical">{{ title }}</h2>
      <p class="b-text">Go to the tutor calendar.</p>
    </div>
  </div>
</div>

{{> molecules-modal-connect }}

