<div class="three columns container">
  <div class="block block-circle small column"> 
    <div class="circleized medium"><i class="{{ icon.class.calendar }}"></i></div>
    <div class="b-body">
      <h2 class="gamma">{{ title }}</h2>
      <p class="epsilon">Go to the tutor calendar.</p>
    </div>
  </div>

  <div class="block block-circle small column"> 
    <div class="circleized medium"><i class="{{ icon.class.calendar }}"></i></div>
    <div class="b-body">
      <h2 class="gamma">{{ title }}</h2>
      <p class="epsilon">Go to the tutor calendar.</p>
    </div>
  </div>

  <div class="block block-circle small column"> 
    <div class="circleized medium"><i class="{{ icon.class.calendar }}"></i></div>
    <div class="b-body">
      <h2 class="gamma">{{ title }}</h2>
      <p class="epsilon">Go to the tutor calendar.</p>
    </div>
  </div>
</div>