<nav id="nav" class="nav">
  <ul class="nav-list">
    <li><a href="{{ url }}" class="iconized"><i class="icon-home"><img src="../../images/temp_pngs/icon-active.png" alt="" >Session Active</i></a></li>
    <li><a href="{{ url }}" class="iconized"><i class="icon-lifebuoy"><img src="../../images/temp_pngs/icon-assist.png" alt="" width="36.5">Immediate Assistance</i></a></li>
  </ul>
</nav><!--end .nav-->
