&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
  &lt;h2 class=&quot;gamma footer-title&quot;&gt;Resources&lt;/h2&gt;
  {{&gt; molecules-tabs }}
  &lt;div class=&quot;footer-tab-content&quot; id=&quot;ftc1&quot;&gt;
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus voluptas facere, corrupti fugit quidem. Debitis, voluptatem facilis sed quod repellendus ab corrupti optio veniam mollitia et illum ea blanditiis excepturi.
  &lt;/div&gt;
  &lt;div class=&quot;footer-tab-content&quot; id=&quot;ftc2&quot;&gt;
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed architecto dolor, hic nisi sapiente neque asperiores a facere distinctio soluta molestias in omnis veritatis atque impedit animi. Hic, non maxime!
  &lt;/div&gt;
  &lt;div class=&quot;footer-tab-content&quot; id=&quot;ftc3&quot;&gt;
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, officiis. Autem ab alias nisi repellendus! Ipsam, molestias voluptatibus ullam fugit ea, quasi perspiciatis, saepe itaque dolore minima architecto voluptatem, quo?
  &lt;/div&gt;
	&lt;div class=&quot;lc&quot;&gt;
		&lt;p class=&quot;copyright&quot;&gt;&amp;copy; 2013 Company Name. All rights reserved.&lt;/p&gt;
	&lt;/div&gt;
&lt;/footer&gt;
&lt;!-- End Footer --&gt;

&lt;script&gt;
$(function() {

  $('.tab-list a:not(:first)').addClass('inactive');
  // $('tabs ul li a').addClass('active');
  $('.footer-tab-content').hide();
  $('.footer-tab-content:first').show();
  $('.tab-list a').click(function(){
    var t = $(this).attr('id');

    if($(this).hasClass('inactive')){ //this is the start of our condition 
      $(this).removeClass('inactive');
      $('.tab-list a').addClass('active');           
      

      $('.footer-tab-content').hide();
      // $('#'+ t).fadeIn('slow');
    }
  });
});
&lt;/script&gt;