<div class="tabs container">
	<ul class="tab-list">
		<li><a href="{{ url }}" class="tab-link active" data-tab="tab-1">Tab 1</a></li>
		<li><a href="{{ url }}" class="tab-link"data-tab="tab-2">Tab 2</a></li>
		<li><a href="{{ url }}" class="tab-link"data-tab="tab-3">Tab 3</a></li>
	</ul>
</div>