<div class="five columns demo">

    <div class="column">1/5</div>
    <div class="column">1/5</div>
    <div class="column">1/5</div>
    <div class="column">1/5</div>
    <div class="column">1/5</div>


</div>