<p class="intro">Gallery Demo, Divs</p>
<div class="gallery demo">
  <div class="column"><img src="../../images/sample/Shih_Tzu.jpg" alt="shih-tzu"></div>
  <div class="column"><img src="../../images/sample/Shih_Tzu.jpg" alt=""></div>
  <div class="column"><img src="../../images/sample/Shih_Tzu.jpg" alt=""></div>
  <div class="column"><img src="../../images/sample/Shih_Tzu.jpg" alt=""></div>
  <div class="column"><img src="../../images/sample/Shih_Tzu.jpg" alt=""></div>
  <div class="column"><img src="../../images/sample/Shih_Tzu.jpg" alt=""></div>
  <div class="column"><img src="../../images/sample/Shih_Tzu.jpg" alt=""></div>
  <div class="column"><img src="../../images/sample/Shih_Tzu.jpg" alt=""></div>
  <div class="column"><img src="../../images/sample/Shih_Tzu.jpg" alt=""></div>
  <div class="column"><img src="../../images/sample/Shih_Tzu.jpg" alt=""></div>
  <div class="column"><img src="../../images/sample/Shih_Tzu.jpg" alt=""></div>
  <div class="column"><img src="../../images/sample/Shih_Tzu.jpg" alt=""></div>
</div>

<p class="intro">Gallery Demo, Unordered List</p>

<ul class="gallery demo">
  <li class="column"><img src="../../images/sample/Shih-Tzu-Running.jpg" alt=""></li>
  <li class="column"><img src="../../images/sample/Shih-Tzu-Running.jpg" alt=""></li>
  <li class="column"><img src="../../images/sample/Shih-Tzu-Running.jpg" alt=""></li>
  <li class="column"><img src="../../images/sample/Shih-Tzu-Running.jpg" alt=""></li>
  <li class="column"><img src="../../images/sample/Shih-Tzu-Running.jpg" alt=""></li>
  <li class="column"><img src="../../images/sample/Shih-Tzu-Running.jpg" alt=""></li>
  <li class="column"><img src="../../images/sample/Shih-Tzu-Running.jpg" alt=""></li>
</ul>