<div class="gallery demo">
  <figure class="column">
    <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
    <figcaption>Some kind of caption</figcaption>
  </figure>
  <figure class="column">
    <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
    <figcaption>Some kind of caption</figcaption>
  </figure>
  <figure class="column">
    <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
    <figcaption>Some kind of caption</figcaption>
  </figure>
  <figure class="column">
    <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
    <figcaption>Some kind of caption</figcaption>
  </figure>
  <figure class="column">
    <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
    <figcaption>Some kind of caption</figcaption>
  </figure>
  <figure class="column">
    <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
    <figcaption>Some kind of caption</figcaption>
  </figure>
  <figure class="column">
    <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
    <figcaption>Some kind of caption</figcaption>
  </figure>
</div>