/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	background: $wf-gray-dark;
	color: $white;
	line-height: 1.2;
	a {
		color: $gray-light;
	}
}

//Footer Nav

.footer-title {
	color: $white;
	display: block;
	margin: 1% 0;
}

.nav-footer {
	margin: (-$pad) (-$pad) $space;

	li {
		border-bottom: 1px solid $gray-dark;

		@media all and (min-width: $bp-med) {
			border: 0;
			float: left;
		}
	}

	a {
		display: block;
		padding: $pad;
	}
}

.copyright {

	@media all and (min-width: $bp-med) {
		text-align: center;
	}
}

.footer-bar {
	@include break;
	background: $wf-gray-dark;
	font-family: $font-secondary;
	height: 30px;
	padding: 1% 0;
}

.footer-sub-tabs {
	background: $wf-gray-light;
}