
.tab-container {
  @include container($container);
  @include break;
}

.resource-tabs {
  @include container($container);
  margin-top: -2%;
  float: right;
  width: 70%;
  display: table;

  li {
    border-right: 4px solid $wf-gray-dark;
    display: table-cell;
    text-align: center;
    

    
  }

  a {
    background: $wf-gray-dark;
    display: block;
    padding: $pad-half;
    @include border-radius(7px 7px 0 0);
    border-top: 1px solid $wf-gray-med-light;
    border-right: 1px solid $wf-gray-med-light;
    border-left: 1px solid $wf-gray-med-light;
    color: $wf-gray-light;
    &:hover, 
    &:focus {
      background: $wf-gray-med-dark;
    }

    &.active {
      background: $wf-gray-med;
      color: $white;
      display: block;
      border-color: transparent;
    }
  }
}

.tab-submenu {
  background: $wf-gray-med;
  border-bottom: 1px solid $wf-gray-med-light;
  padding-top: 0.5%;
  display: relative;
  z-index: 5;
}

.tab-submenu-list {   
  display: none;

  &.active {
    @include container($container);
    @include break;  
    display: block;
  }

  li {
    border-right: 0;
    display: table-cell;
    text-align: center;


    &:last-child {
      border-right: 0;
    }

    a {
      display: block;
      background: inherit;
      padding: 0.6em;
      color: $wf-gray-light;
    }
  }
}

.tabs, .tab-submenu-list {
    font-family: $font-secondary;
}


.sub-tabs {
  background: $wf-gray-med;
}


.tab-submenu-link {
  
  &.active {
    position: relative;
    @include border-radius(8px 8px 0 0);
    border-top: 1px solid $wf-gray-med-light;
    border-right: 1px solid $wf-gray-med-light;
    border-left: 1px solid $wf-gray-med-light;
    color: $white;
    &:after {
      content: "";
      border-bottom: 4px solid #b1b1b1;
      z-index: 10;
      position: absolute;
      height: 2px;
      bottom: -2px;
      left: 0;
      width: 100%;
    }
  }
}

.tab-submenu-content {
  @include container($container);
  background: $wf-gray-med;
  display: none;
  overflow: auto;
  padding: 1% 0;

  &.active {
    display: block;
  }

  ul {

    li {
      @include gallery(2 of 12);
      padding-top: 2%;
    }
  }
}



.onset-block {
  @include span(4 of 12);
  ul li {
    @include gallery(4 of 12);
  }
} 

.rimes-block {
  @include span(8 of 12);
  ul li {
    @include gallery(2 of 12)
  }

}



// ----------- ACTIVITY PAGE TABS --------------------

.activity-tabs {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 495px;
  &.tabs-under {
    left: 10px; 
    right: auto;
  }
}

.tab-content {
  display: none;
  &.active {
    display: block;
  }
}

.activity-tabs .tab-link {
  @include border-radius(4px 4px 0 0);
  @include span(1 of 8);
  background: $wf-gray-med-light;
  color: $wf-gray-med;
  display: block;
  font-family: $font-secondary;
  margin-right: 0.4%;
  padding: 1%;
  text-align: center;
  width: 60px;
  &:last-child {
    margin-right: 0;
  }
  &.active {
    background: $white;
  }
}