      <section class="activity-content tab-content active" id="stories-a">  
        <div class="block story-block">
          <h2 class="activity-content-title">Primary Stories</h2>
           <div class="gallery">
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>1. Dentist</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>2. Diego's Big</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>3. Goal</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>4. Lost</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>5. My Loose Tooth</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>6. One Minute</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>7. Our Garden</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>8. Special Spot</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>9. Tea Party</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>10. Airplanes</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>11. The Lost Baseball</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>12. It Wasn't Me</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>13. My New Hat</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>14. Fire House</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>15. My Sister and I</figcaption>
            </figure>
          </div>
        </div>    
        
        <div class="block story-block">
          <h2 class="activity-content-title">Controlled Text Stories</h2>
            <div class="gallery">
             <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
          </div>
        </div>
      </section> {{! /activity-content}}

      <section class="activity-content tab-content" id="stories-b">  
        <div class="block story-block">
          <h2 class="activity-content-title">Grimary Stories</h2>
           <div class="gallery">
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>1. Dentist</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>2. Diego's Big</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>3. Goal</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>4. Lost</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>5. My Loose Tooth</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>6. One Minute</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>7. Our Garden</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>8. Special Spot</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>9. Tea Party</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>10. Airplanes</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>11. The Lost Baseball</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>12. It Wasn't Me</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>13. My New Hat</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>14. Fire House</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>15. My Sister and I</figcaption>
            </figure>
          </div>
        </div>    
        
        <div class="block story-block">
          <h2 class="activity-content-title">Controlled Text Stories</h2>
            <div class="gallery">
             <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
          </div>
        </div>
      </section> {{! /activity-content}}

      <section class="activity-content tab-content" id="stories-c">  
        <div class="block story-block">
          <h2 class="activity-content-title">Limary Stories</h2>
           <div class="gallery">
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>1. Dentist</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>2. Diego's Big</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>3. Goal</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>4. Lost</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>5. My Loose Tooth</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>6. One Minute</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>7. Our Garden</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>8. Special Spot</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>9. Tea Party</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>10. Airplanes</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>11. The Lost Baseball</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>12. It Wasn't Me</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>13. My New Hat</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>14. Fire House</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>15. My Sister and I</figcaption>
            </figure>
          </div>
        </div>    
        
        <div class="block story-block">
          <h2 class="activity-content-title">Controlled Text Stories</h2>
            <div class="gallery">
             <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
          </div>
        </div>
      </section> {{! /activity-content}}

      <section class="activity-content tab-content" id="stories-d">  
        <div class="block story-block">
          <h2 class="activity-content-title">Dimary Stories</h2>
           <div class="gallery">
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>1. Dentist</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>2. Diego's Big</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>3. Goal</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>4. Lost</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>5. My Loose Tooth</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>6. One Minute</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>7. Our Garden</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>8. Special Spot</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>9. Tea Party</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>10. Airplanes</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>11. The Lost Baseball</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>12. It Wasn't Me</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>13. My New Hat</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>14. Fire House</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>15. My Sister and I</figcaption>
            </figure>
          </div>
        </div>    
        
        <div class="block story-block">
          <h2 class="activity-content-title">Controlled Text Stories</h2>
            <div class="gallery">
             <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
            <figure class="column">
              <img src="../../images/sample/Shih-Tzu-Running.jpg" alt="">
              <figcaption>Some kind of caption</figcaption>
            </figure>
          </div>
        </div>
      </section> {{! /activity-content}}