<section class="activity-content wordsort-content">
  <div class="wordsort-column-1">
    <div class="words">
      <p>1. been</p>
      <p>2. seen</p>
      <p>3. lead</p>
    </div>
    <div class="word-family">
      <p>_een</p>
    </div>
    <div class="wordsort-box">
      
    </div>
  </div>

  <div class="wordsort-column-2">
    <div class="words">
      <p>4. read</p>
      <p>5. goat</p>
      <p>6. float</p>
    </div>
    <div class="word-family">
      <p>_ead</p>
    </div>
    <div class="wordsort-box">
      
    </div>
  </div>

  <div class="wordsort-column-3">
    <div class="words">
      <p>7. spread</p>
      <p>8. moat</p>
      <p>9. teen</p>
    </div>
    <div class="word-family">
      <p>_oat</p>
    </div>
    <div class="wordsort-box">
      
    </div>
  </div>

  <form action="text" class="wordsort-field"> {{! todo: consolidate these form sizes/types }}
    <input type="text"  placeholder="Type and press ENTER to send...">
  </form>
</section>