<div class="activity-content tictactoe-content">
  <ul>
    <li><a href="#" class="x">said</a></li>
    <li><a href="#">why</a></li>
    <li><a href="#" class="o">and</a></li>
    <li><a href="#">has</a></li>
    <li><a href="#">the</a></li>
    <li><a href="#" class="x">play</a></li>
    <li><a href="#" class="o">to</a></li>
    <li><a href="#">a</a></li>
    <li><a href="#">toy</a></li>
  </ul>
</div>