&lt;nav id=&quot;nav&quot; class=&quot;nav&quot;&gt;
	&lt;ul class=&quot;nav-list&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;iconized&quot;&gt;&lt;i class=&quot;icon-home&quot;&gt;Home&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;iconized&quot;&gt;&lt;i class=&quot;icon-lifebuoy&quot;&gt;Immediate Assistance&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;iconized&quot;&gt;&lt;i class=&quot;icon-logout&quot;&gt;Hi, {{ username }}! Log Out&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
