<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #999;"></span>
		<span class="sg-label">#999, $wf-gray-dark</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ccc;"></span>
		<span class="sg-label">#ccc, $wf-gray-med</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e0e0e0;"></span>
		<span class="sg-label">#e0e0e0, $wf-gray-light</span>
	</li>


</ul>