<p>Primary font: "Open Sans", "HelveticaNeue", "Arial", sans-serif;</p>
<p><em>Primary font italic: "Open Sans", "Helvetica", "Arial", sans-serif;</em></p>
<p><strong>Primary font bold: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></p>
<p class="font-secondary-light">Secondary font: "Open Sans Condensed", Times, "Times New Roman", serif;</p>
{{! <p class="font-secondary"><em>Secondary font italic: Georgia, Times, "Times New Roman", serif;</em></p> }}
<p class="font-secondary"><strong>Secondary font bold; Open Sans Condensed, Times, "Times New Roman", serif;</strong></p>